.account-view {
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  align-items: center;
}

.account-view > ul {
  padding-left: 0px;
}

.account {
  display: flex;
  height: 15rem;
  margin: 3rem 0 0 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 22, 22);
  padding: 16px 24px 16px 24px;
  border-radius: 20px;
  width: 1068px;
}

.account-info-container {
  margin: 0 0 0 1rem;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px var(--accent-color) solid;
  overflow: hidden;
  object-fit: cover;
  width: 10rem;
  height: 10rem;
}

.img-container > img {
  width: 130%;
  height: auto;
}

.no-posts-div {
  margin: 6rem 0 0 0;
  opacity: 0.3;
}
