.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.post {
  display: flex;
  flex-direction: column;
  background-color: rgb(22, 22, 22);
  margin: 2rem 0 0 0;
  padding: 16px 24px 16px 24px;
}

.post-answers {
  display: flex;
  width: 100%;
}

.post-answers-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail {
  width: 30%;
}

.thumbnail > img {
  height: 576px;
  width: 1024px;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 3rem;
  background: none;
  color: white;
  border: none;
  padding: 0;
}

.answer > p {
  margin-bottom: 0;
}

.answer:hover {
  background-color: purple;
  transition: 0.2s;
  cursor: pointer;
}

.answer-post-guess {
  width: 50%;
}

.answer-submit-button {
  margin: 1rem 0 0 0;
}

.correct-answer {
  border: 2px solid green;
}

.incorrect-answer {
  border: 2px solid red;
}

.selected-answer {
  background-color: rgb(168, 3, 168);
}

.video {
  width: 30%;
}

.video > video {
  height: 576px;
  width: 1024px;
}
