.admin-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.post {
  display: flex;
  flex-direction: column;
  background-color: rgb(22, 22, 22);
  margin: 2rem 0 0 0;
  padding: 16px 24px 16px 24px;
}

.post-answers {
  display: flex;
  width: 100%;
}

.post-answers-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 3rem;
  background: none;
  color: white;
  border: none;
  padding: 0;
}

.answer > p {
  margin-bottom: 0;
}

.answer-post-guess {
  width: 50%;
}

.video {
  width: 30%;
}

.video > video {
  height: 576px;
  width: 1024px;
}
