@import url("https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap");

.admin-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.no-more-posts {
  margin: 2rem 0 0 0;
  padding: 16px 24px 16px 24px;
  background-color: rgb(22, 22, 22);
}

.admin-view-post {
  display: flex;
  flex-direction: column;
  background-color: rgb(22, 22, 22);
  margin: 2rem 0 0 0;
  padding: 16px 24px 16px 24px;
}

.admin-view-post-answers {
  display: flex;
  width: 100%;
}

.post-answers-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer > p {
  margin-bottom: 0;
}

.admin-answer-post-guess {
  width: 50%;
}

.admin-video {
  width: 30%;
}

.admin-video > video {
  height: 576px;
  width: 1024px;
}

.admin-view-account {
  display: flex;
  justify-content: space-between;
  width: 60rem;
  align-items: center;
  background-color: rgb(22, 22, 22);
  padding: 16px 24px 16px 24px;
  margin: 2rem 0 0 0;
  border-radius: 20px;
  border-bottom: 2px rgb(187, 0, 187) solid;
}

.admin-view-account > h1 {
  cursor: pointer;
}

.admin-view-account > button {
  border: none;
  background: var(--accent-color);
  color: white;
}

.switch {
  margin: 2rem 0 0 0;
}

#custom-switch:checked {
  background-color: rgb(187, 0, 187);
  border: none;
}

.form-check-input:focus {
  box-shadow: none;
}

.custom-dropdown > button {
  margin: 2rem 0 0 0;
  background: var(--purple-gradient);
  border: none;
}

.admin-post-submit-button {
  margin: 1rem 0 0 0;
  border: none;
  background: var(--accent-color);
  color: white;
}

.admin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.points-button {
  margin: 2rem 0 0 0;
  background: var(--accent-color);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.admin-user-view-modal > .modal-dialog > .modal-content {
  font-family: "Syne", sans-serif;
  margin: 0 0 7rem 0;
}

.modal-header {
  color: white;
}

.modal-body {
  color: white;
}
