.post-edit-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: var(--purple-gradient);
}

.edit-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(46, 46, 46);
  padding: 16px 24px 16px 24px;
  border-radius: 20px;
  margin: 8rem 0 0 0;
}

.edit-post-form > div > input {
  width: 28rem;
}

.edit-form-container {
  width: 30%;
  margin: 2rem 0 0 0;
}

.edit-post-button-group {
  display: flex;
  justify-content: space-between;
  width: 12rem;
}

@media (max-width: 576px) {
  .edit-form-container {
    width: 80%;
  }

  .edit-post-form > div > input {
    width: 23rem;
  }
}
