.post-create-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: var(--purple-gradient);
}

.create-form-container {
  width: 30%;
  margin: 2rem 0 0 0;
}

.correct-answer-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 24px 16px 24px;
  background: rgb(46, 46, 46);
  border-radius: 20px;
  margin: 9rem 0 0 0;
}

.create-form > div > input {
  width: 28rem;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 9rem;
}

.form-check-input:checked {
  background-color: rgb(211, 0, 211);
  border-color: rgb(211, 0, 211);
}

.create-post-loading-modal > .modal-dialog {
  margin: 0 0 0 33.55rem;
}

.create-post-loading-modal > .modal-dialog > .modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(175, 175, 175, 0);
  border: none;
}

.custom-spinner {
  margin: 1rem 0 0 0;
  width: 7rem;
  height: 7rem;
  color: var(--accent-color);
}

@media (max-width: 576px) {
  .create-form {
    width: 30rem;
    margin: 7rem 0 0 0;
  }

  .create-form-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 39rem;
  }
}

@media (max-width: 390px) and (max-height: 844px) {
  .post-create-container {
    height: 52rem;
  }

  .create-form {
    width: 21rem;
  }

  .create-form > div > input {
    width: 18rem;
  }
}
