.account-deletion-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: var(--purple-gradient);
}

.account-deletion-view > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 7rem 0;
  background: rgb(46, 46, 46);
  padding: 16px 24px 24px 16px;
  border-radius: 15px;
}

.deactivate-button {
  background: var(--accent-color);
  border: none;
  color: white;
  margin: 0 1rem 0 1rem;
  width: 3rem;
  border-radius: 5px;
}

.deactivate-button:hover {
  background: rgb(173, 2, 173);
}
